article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  font-family: monospace;
  font-size: 1.8rem;
  color: white; }

.wrapper {
  max-width: 700px;
  width: 90%;
  margin: 0px auto;
  border-radius: 5px;
  padding: 2rem; }

img {
  max-width: 100%; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

a {
  display: inline-block;
  border: 2px solid blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid blue;
  color: white;
  background-color: black; }

.turnAround {
  margin: 10% 0 0 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }

.inactiveLink {
  pointer-events: none;
  cursor: default;
  border: 2px solid #333;
  color: #333;
  background-color: #4c4c4c; }

nav {
  position: fixed;
  border-bottom: 10px double blue; }

.statusBar {
  width: 100%;
  background-color: #000; }

h1 {
  margin: 0;
  text-align: center;
  font-size: 2.4rem; }

.title {
  opacity: 0; }

.fa-heart-o {
  color: #c93e95; }

.fa-heart.levelOne, .fa-heart.levelTwo, .fa-heart.levelThree {
  color: #c93e95; }

.headerImage {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  background-color: cyan;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: black;
  background-size: cover;
  background-repeat: no-repeat; }

blockquote {
  padding: 0;
  margin: 0;
  text-align: center; }

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

input[type="radio"] {
  display: none; }

label {
  cursor: pointer;
  padding: 15px 20px;
  margin-right: 2%;
  border: 2px solid blue;
  font-weight: bolder;
  text-align: center;
  width: 50%; }

label:nth-of-type(2) {
  margin-right: 0; }

label p {
  margin: auto; }

.correctAnswer {
  background-color: blue;
  color: white; }

.wrongAnswer {
  background-color: #c93e95;
  color: white;
  padding: 2% 4%;
  margin-right: 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.gameOver {
  display: none;
  text-align: center; }
  .gameOver a {
    letter-spacing: 2px;
    margin-top: 40px; }

.displayGameOver {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10; }

.gameWin {
  display: none; }

.displayGameWin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10; }

.gameWinContent {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.6em; }
  .gameWinContent .gameWinContentOptions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

.bonnieAvatar {
  position: fixed;
  bottom: 0; }

.bonnieAvatarRight {
  display: none;
  position: fixed;
  max-width: 145px; }

.bonnieTylerEyes {
  margin: 0 auto;
  text-align: center; }

.moon {
  background: url(../assets/moonTransparent.png);
  background-repeat: no-repeat;
  background-position: center; }
  .moon h2 {
    text-shadow: 2px 2px 5px black; }

.media {
  text-align: center; }
  .media video {
    max-width: 100%;
    -webkit-box-shadow: -10px -10px 50px blue, 10px 10px 50px blue;
    box-shadow: -10px -10px 50px blue, 10px 10px 50px blue; }

.mobileVideo {
  display: none;
  margin: 0 auto; }

footer {
  text-align: center; }
  footer .wrapper {
    width: 100%;
    margin: 0;
    padding: 0; }

ul.credits {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2px;
  font-size: 1.4rem; }
  ul.credits li {
    margin-top: 2px; }

.credits li h2 {
  font-size: 1.6rem;
  color: #c93e95;
  margin-bottom: 0; }

.credits li h3 {
  font-size: 1.4rem;
  color: #c93e95;
  margin-bottom: 0; }

@media (max-width: 1030px) {
  .bonnieAvatar {
    max-width: 145px; } }

@media (max-width: 940px) {
  .bonnieAvatar {
    display: none; }
  .bonnieAvatarRight {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0; } }

@media (max-width: 767px) {
  .bonnieAvatarRight {
    display: none; }
  h1 {
    display: none; }
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    form label {
      width: 100%;
      margin: 2% 0;
      padding: 5%; }
  blockquote {
    text-align: left; }
  .wrongAnswer {
    padding: 5%; }
  .mobileVideo {
    display: block; }
  .browserVideo {
    display: none; } }

@media (max-width: 490px) {
  .wrongAnswer {
    padding: 7%; } }
